/* variable declaration-start */

:root {
  --primary: #00eec4;
  --secondary: #00d1bd;
  --light: gray;
  --dark: #212121;
}

/* variable declaration-end */

/* scrollbar styling-start */

::-webkit-scrollbar {
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* scrollbar styling-end */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
}

/* navbar styling-start */

.nav .container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 3px solid var(--primary);
}

.container h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
}

.hamburger {
  display: block;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.3s;
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
}

.menu a {
  color: #fff;
  margin: 0 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu a.is-active,
.menu a:hover {
  background-color: var(--primary);
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 55vh;
  display: block;
  z-index: 98;
  background-color: var(--dark);
  padding-top: 120px;
  transition: 0.3s;
}

.mobile_nav.is-active {
  display: block;
  left: 0;
}

.mobile_nav a {
  display: block;
  text-align: center;
  border-radius: 99px;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  transition: 0.3s;
}

.mobile_nav a.is-active,
.mobile_nav a:hover {
  background-color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .mobile_nav {
    display: none;
  }
}

/* navbar styling-end */

/* hero styling-start */

.hero {
  background: linear-gradient(
    to right,
    var(--dark) 0%,
    var(--dark) 65%,
    var(--light) 65%,
    var(--light) 100%
  );
  width: 100%;
  height: 90vh;
  margin-top: 4.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 230px;
}

.hero-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left img {
  transition: 0.3s;
  background: var(--dark);
  width: 100%;
}

.hero-left img:hover {
  transform: scale(1.1);
}

.hero-right {
  background: transparent;
  height: 100%;
  display: grid;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right,
.hero-right:before,
.hero-right:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
}

.hero-right .wrapper p {
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  background: transparent;
}

.hero-right .wrapper {
  box-sizing: content-box;
  background: transparent;
  display: flex;
  padding-top: 350px;
}

.hero-right .wrapper .words {
  background: transparent;
  overflow: hidden;
  height: 60vh;
}

.hero-right .wrapper .words span {
  background: transparent;
  display: block;
  height: 100%;
  font-size: 90px;
  font-weight: 900;
  padding-left: 10px;
  color: var(--dark);
  animation: spin_words 6s infinite;
}

@keyframes spin_words {
  12.5% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }

  37.5% {
    transform: translateY(-212%);
  }

  50% {
    transform: translateY(-200%);
  }

  62.5% {
    transform: translateY(-312%);
  }

  75% {
    transform: translateY(-300%);
  }

  87.5% {
    transform: translateY(-412%);
  }

  100% {
    transform: translateY(-400%);
  }
}

@media only screen and (max-width: 1500px) {
  .hero {
    background: linear-gradient(
      to right,
      var(--dark) 0%,
      var(--dark) 50%,
      var(--light) 50%,
      var(--light) 100%
    );
    flex-direction: column;
  }

  .hero-left {
    margin-top: 600px;
  }

  .hero-left img {
    background: linear-gradient(
      to right,
      var(--dark) 0%,
      var(--dark) 50%,
      var(--light) 50%,
      var(--light) 100%
    );
  }

  .hero-right .wrapper p {
    font-size: 40px;
  }

  .hero-right .wrapper {
    position: relative;
    bottom: 400px;
    left: 7px;
  }

  .hero-right .wrapper .words span {
    font-size: 40px;
  }
}

/* hero styling-end */

/* pagetwo styling-start */

.pagetwo {
  background: linear-gradient(
    to right,
    var(--light) 0%,
    var(--light) 65%,
    var(--dark) 65%,
    var(--dark) 100%
  );
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pagetwo .pagetwo-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 25px;
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 100px;
  width: 1000px;
  max-width: 1000px;
}

.pagetwo .pagetwo-left .pagetwo-left_content {
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0);
}

.pagetwo .pagetwo-left .pagetwo-left_content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
}

.pagetwo .pagetwo-left .pagetwo-left_content p {
  color: #93aebb;
  margin-bottom: 60px;
}

.pagetwo .pagetwo-left .pagetwo-left_content p a {
  text-decoration: none;
  color: var(--secondary);
  transition: 0.3s;
}

.pagetwo .pagetwo-left .pagetwo-left_content p a:hover {
  color: var(--primary);
}

.pagetwo .pagetwo-left .pagetwo-left_buttons button {
  height: 64px;
  padding: 15px 22px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--dark);
  border-radius: 16px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.pagetwo .pagetwo-left .pagetwo-left_buttons .button {
  width: 190px;
}

.pagetwo .pagetwo-left .pagetwo-left_buttons .button-two {
  width: 320px;
}

.pagetwo .pagetwo-left .pagetwo-left_buttons .button:hover {
  background-color: var(--secondary);
}

.pagetwo .pagetwo-left .pagetwo-left_buttons .button-two:hover {
  background-color: var(--secondary);
}

.pagetwo .pagetwo-right {
  margin-right: 45px;
}

.pagetwo .pagetwo-right .pagetwo-right_content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 238, 196, 1);
  transition: 0.3s;
}

.pagetwo .pagetwo-right .pagetwo-right_content:hover {
  transform: scale(1.025);
}

.pagetwo .pagetwo-right .pagetwo-right_content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 5px;
}

.pagetwo .pagetwo-right .pagetwo-right_content p {
  color: #93aebb;
}

@media only screen and (max-width: 1500px) {
  .pagetwo {
    background: var(--dark);
    height: 160vh;
    flex-direction: column;
  }

  .pagetwo .pagetwo-left {
    margin-left: 0;
    margin-right: 0;
    width: 350px;
    max-width: 350px;
    padding: 30px 10px;
    position: relative;
    bottom: 20px;
  }

  .pagetwo .pagetwo-left .pagetwo-left_buttons button {
    margin-bottom: 5px;
  }

  .pagetwo .pagetwo-right {
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px 0;
  }

  .pagetwo .pagetwo-right .pagetwo-right_content {
    margin-top: 30px;
    padding: 20px;
    width: 350px;
    height: 420px;
  }
}

/* pagetwo styling-end */

/* pagethree styling-start */

.pagethree {
  background: linear-gradient(
    to right,
    var(--dark) 0%,
    var(--dark) 65%,
    var(--light) 65%,
    var(--light) 100%
  );
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pagethree .pagethree-left {
  margin-left: 60px;
  width: 800px;
}

.feature-wrapper {
  margin: 0;
  padding: 40px 25px;
  border-radius: 8px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 238, 196, 1);
  transition: 0.3s;
}

.feature-wrapper:hover {
  transform: scale(1.025);
}

.feature-wrapper h1 {
  color: #fff;
  margin-bottom: 60px;
  position: relative;
  left: 20px;
  font-size: 35px;
  font-weight: 400;
}

.feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature__item {
  max-width: calc(33% - 20px);
  padding-right: 50px;
  padding-bottom: 50px;
}

.feature__item a {
  text-decoration: none;
}

.feature__item a h3 {
  font-weight: 400;
}

.feature__item p {
  color: #93aebb;
}

.feature__item .section__title {
  margin-bottom: 0;
  color: var(--primary);
}

.feature__item .section__title:hover {
  color: var(--secondary);
}

.feature__item p {
  margin-top: 0.5rem;
}

.pagethree .pagethree-right {
  border-radius: 8px;
  margin-left: 130px;
  padding: 10px 0;
}

.pagethree .pagethree-right .pagethree-right_content {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
  width: 480px;
  border-radius: 8px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0);
}

.pagethree .pagethree-right .pagethree-right_content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 5px;
}

.pagethree .pagethree-right .pagethree-right_content p {
  color: #93aebb;
}

.pagethree .pagethree-right .pagethree-right_content p a {
  text-decoration: none;
  color: #93aebb;
  transition: 0.3s;
}

.pagethree .pagethree-right .pagethree-right_content p a:hover {
  color: var(--primary);
}

@media only screen and (max-width: 1500px) {
  .pagethree {
    background: var(--light);
    height: 180vh;
    flex-direction: column;
  }

  .pagethree .pagethree-left {
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 8px;
    margin-left: 0;
    width: 350px;
    max-width: 350px;
  }

  .feature-wrapper {
    padding: 40px 25px;
  }

  .feature {
    gap: 10px;
  }

  .feature-wrapper h1 {
    font-size: 30px;
    left: 0;
  }

  .feature__item {
    max-width: calc(53% - 20px);
  }

  .pagethree .pagethree-right {
    margin-top: 30px;
    margin-left: 0px;
  }

  .pagethree .pagethree-right .pagethree-right_content {
    padding-top: 20px;
    width: 350px;
    height: 350px;
  }

  .pagethree .pagethree-right .pagethree-right_content h1 {
    font-size: 30px;
  }
}

/* pagethree styling-end */

/* pagefour styling-start */

.pagefour {
  background: linear-gradient(
    to right,
    var(--light) 0%,
    var(--light) 65%,
    var(--dark) 65%,
    var(--dark) 100%
  );
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pagefour .pagefour-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
  border-radius: 8px;
  margin-left: 25px;
  margin-right: 50px;
  width: 1000px;
  max-width: 1000px;
}

.pagefour .pagefour-left .pagefour-left_content {
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0);
}

.pagefour .pagefour-left .pagefour-left_content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
}

.pagefour .pagefour-left .pagefour-left_content .content {
  color: #93aebb;
  margin-bottom: 25px;
}

.pagefour .pagefour-left .pagefour-left_content .heading {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}

.pagefour .pagefour-left .pagefour-left_content .content a {
  text-decoration: none;
  color: var(--secondary);
  transition: 0.3s;
}

.pagefour .pagefour-left .pagefour-left_content .content a:hover {
  color: var(--primary);
}

.pagefour .pagefour-right {
  margin-left: 50px;
}

.pagefour .pagefour-right .pagefour-right_content {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 80px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 238, 196, 1);
  transition: 0.3s;
}

.pagefour .pagefour-right .pagefour-right_content:hover {
  transform: scale(1.025);
}

.pagefour .pagefour-right .pagefour-right_content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
}

.pagefour .pagefour-right .pagefour-right_content p {
  margin-top: 50px;
  color: #93aebb;
}

@media only screen and (max-width: 1500px) {
  .pagefour {
    background: var(--dark);
    height: 180vh;
    flex-direction: column;
  }

  .pagefour .pagefour-left {
    padding: 0px 10px;
    position: relative;
    bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 350px;
    max-width: 350px;
  }

  .pagefour .pagefour-left .pagefour-left_content h1 {
    font-size: 30px;
  }

  .pagefour .pagefour-right {
    width: 350px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .pagefour .pagefour-right .pagefour-right_content {
    width: 350px;
    margin-right: 0px;
  }

  .pagefour .pagefour-right .pagefour-right_content h1 {
    font-size: 30px;
  }
}

/* pagefour styling-end */

/* pagefive styling-start */

.pagefive {
  background: linear-gradient(
    to right,
    var(--dark) 0%,
    var(--dark) 65%,
    var(--light) 65%,
    var(--light) 100%
  );
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pagefive .pagefive-left {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 160px;
  width: 1000px;
  max-width: 1000px;
}

.pagefive .pagefive-left .pagefive-left_content {
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 238, 196, 1);
  padding: 70px 25px;

  border-radius: 8px;
  transition: 0.3s;
}

.pagefive .pagefive-left .pagefive-left_content:hover {
  transform: scale(1.025);
}

.pagefive .pagefive-left .pagefive-left_content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
}

.pagefive .pagefive-left .pagefive-left_content p {
  color: #93aebb;
  margin-bottom: 25px;
}

.pagefive .pagefive-left .pagefive-left_content p a {
  text-decoration: none;
  color: var(--secondary);
  transition: 0.3s;
}

.pagefive .pagefive-left .pagefive-left_content p a:hover {
  color: var(--primary);
}

.pagefive .pagefive-right {
  border-radius: 8px;
  margin-right: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagefive .pagefive-right .pagefive-right_content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0);
}

.pagefive .pagefive-right .pagefive-right_content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 5px;
}

.pagefive .pagefive-right .pagefive-right_content p {
  color: #93aebb;
}

.pagefive .pagefive-right .pagefive-right_content p a {
  text-decoration: none;
  color: #93aebb;
  transition: 0.3s;
}

.pagefive .pagefive-right .pagefive-right_content p a:hover {
  color: var(--primary);
}

@media only screen and (max-width: 1500px) {
  .pagefive {
    background: var(--light);
    height: 170vh;
    flex-direction: column;
  }

  .pagefive .pagefive-left {
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
    max-width: 350px;
    border-radius: 8px;
  }

  .pagefive .pagefive-left .pagefive-left_content {
    padding: 40px 25px;
  }

  .pagefive .pagefive-left .pagefive-left_content h1 {
    font-size: 35px;
  }

  .pagefive .pagefive-right {
    margin-top: 50px;
    margin-right: 0px;
  }

  .pagefive .pagefive-right .pagefive-right_content h1 {
    font-size: 35px;
  }
}

/* pagefive styling-end */

/* footer styling-start */

.footer {
  background-color: var(--dark);
  padding: 16px 32px;
  border-top: 3px solid var(--primary);
}

.footer .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container p {
  padding: 16px;
  color: #93aebb;
}

.footer .container p a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  padding: 8px 16px;
  border-radius: 99px;
  background-color: var(--secondary);
  transition: 0.3s;
}

.footer .container p a:hover {
  background-color: var(--primary);
}

@media only screen and (max-width: 1500px) {
  .footer .container p a {
    font-size: 16px;
  }

  .footer .container p {
    padding: 16px 0;
  }
}

/* footer styling-start */
